.font-sakamata {
    font-family: 'sakamata-font';
    font-size: 35pt;
    line-height: 60px;
}

.font-sakamata-apply {
    font-family: 'sakamata-font';
}

.char-list-preview {
    font-size: 40px;
    text-align: center;
    height: 50px;
    margin: 10px;
    background-color: #fff;
}