@font-face {
  font-family: 'sakamata-font';
  src: 
    url('https://1374ad54-0d58-42c3-aaa9-ef523652e19e.contentdelivernet.com/2500693d-f372-49ea-ba84-4bc2bdccf854/std/sakamata-font-0-nostrict.woff2') format('woff2');
}

@font-face {
  font-family: 'sakamata-jtc-font';
  src:
    url('https://1374ad54-0d58-42c3-aaa9-ef523652e19e.contentdelivernet.com/2500693d-f372-49ea-ba84-4bc2bdccf854/jtc/sakamata-jtc-font-0-nostrict.woff2') format('woff2');
}