@font-face {
  font-family: 'sakamata-font';
  src: 
    url('https://ccb32c5e-d34b-4288-8651-fa1291fbd49c.cdeliver.net/font.sakamata.ch/std/sakamata-font-0-nostrict.woff2') format('woff2');
}

@font-face {
  font-family: 'sakamata-jtc-font';
  src:
    url('https://ccb32c5e-d34b-4288-8651-fa1291fbd49c.cdeliver.net/font.sakamata.ch/jtc/sakamata-jtc-font-0-nostrict.woff2') format('woff2');
}
