@font-face {
  font-family: 'sakamata-font';
  src:
    url('/fonts/sakamata-font-0-nostrict.woff2') format('woff2');
}

@font-face {
  font-family: 'sakamata-jtc-font';
  src:
    url('/fonts/sakamata-jtc-font-0-nostrict.woff2') format('woff2');
}