name: Webwriter

on:
  push:
  pull_request:

jobs:
  ##### ===========================
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: SakamataFontProject/builder/build

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build
        uses: mkaraki/Png2Font/builder-ghaction@dba62d5ec4aab6038594f61de8d44b2250c56a25
        with:
          filename-prefix: sakamata-font
          fontname: Sakamata Font
          weight: 0
          strict: nostrict
          raw-directory: SakamataFontProject/raw

  ##### ===========================
  build-jtc:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: SakamataTraditionalCalligraphyFont/builder/build

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build
        uses: mkaraki/Png2Font/builder-ghaction@dba62d5ec4aab6038594f61de8d44b2250c56a25
        with:
          filename-prefix: sakamata-jtc-font
          fontname: Sakamata Japanese Traditional Calligraphy Font
          weight: 0
          strict: nostrict
          raw-directory: SakamataTraditionalCalligraphyFont/raw

  ##### ===========================
  gen-chart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Run chart-generator
        uses: mkaraki/Png2Font/chart-generator-ghaction@dba62d5ec4aab6038594f61de8d44b2250c56a25
        with:
          raw-directory: SakamataFontProject/raw
          upload-name: generated-charts

  ##### ===========================
  gen-chart-jtc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Run chart-generator
        uses: mkaraki/Png2Font/chart-generator-ghaction@dba62d5ec4aab6038594f61de8d44b2250c56a25
        with:
          raw-directory: SakamataTraditionalCalligraphyFont/raw
          upload-name: generated-charts-jtc

  ##### ===========================
  build-webfont:
    runs-on: ubuntu-latest
    needs:
      - build
      - gen-chart
      - build-jtc
      - gen-chart-jtc

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v6
        with:
          name: sakamata-font-0-nostrict
          path: fonts

      - uses: actions/download-artifact@v6
        with:
          name: sakamata-jtc-font-0-nostrict
          path: fonts

      - uses: actions/download-artifact@v6
        with:
          name: generated-charts
          path: ~/artifact/chart

      - uses: actions/download-artifact@v6
        with:
          name: generated-charts-jtc
          path: ~/artifact/chart-jtc

      - name: Install woff2
        run: sudo apt-get install -y woff2

      - name: Compress to woff2
        run: |
          woff2_compress fonts/sakamata-font-0-nostrict.ttf
          woff2_compress fonts/sakamata-jtc-font-0-nostrict.ttf

      - uses: actions/upload-artifact@v5
        with:
          name: webfont
          path: fonts/*.woff2

      - name: Copy data to gatsby builds
        run: |
          mkdir static/fonts
          cp fonts/*.woff2 static/fonts/
          cp fonts/*.sources.tsv static/fonts/
          cp ~/artifact/chart/char.tsv static/fonts/sakamata-font-char.tsv
          cp ~/artifact/chart-jtc/char.tsv static/fonts/sakamata-jtc-font-char.tsv

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18
         
      - uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: webwriter
          path: public
      

  ##### ===========================
  deploy:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs:
      - build-webfont

    permissions:
      contents: read
      deployments: write
      pages: write
      id-token: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          name: webwriter
          path: public

      - name: Getting branch name
        id: branch_name
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: sakamatafontproject
          directory: public
          branch: ${{ steps.branch_name.outputs.short_ref }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
